# dependencies
node_modules/

# next.js
.next/
out/
build/

# env
.env
.env*.local

# prisma / database
prisma/dev.db
prisma/dev.db-journal
*.db
*.db-journal

# uploads (user-generated at runtime)
public/uploads/*
!public/uploads/.gitkeep

# misc
.DS_Store
*.log
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
